---
import Base from "../layouts/Base.astro";

const posts = await Astro.glob("./date/**/*.{md,mdx}");
const jan = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Jan");
const feb = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Feb");
const mar = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Mar");
const apr = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Apr");
const may = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "May");
const jun = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Jun");
const jul = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Jul");
const aug = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Aug");
const sep = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Sep");
const oct = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Oct");
const nov = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Nov");
const dec = posts.filter((post) => post.frontmatter.date.slice(0, 3) == "Dec");
---

<Base>
  <section>
    <!-- January -->
    <ul>
      {
        jan.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- Febuary -->
    <ul>
      {
        feb.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- March -->
    <ul>
      {
        mar.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- April -->
    <ul>
      {
        apr.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- May -->
    <ul>
      {
        may.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- June -->
    <ul>
      {
        jun.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- July -->
    <ul>
      {
        jul.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- August -->
    <ul>
      {
        aug.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- Septemeber -->
    <ul>
      {
        sep.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- October -->
    <ul>
      {
        oct.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- November -->
    <ul>
      {
        nov.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
    <!-- Dec -->
    <ul>
      {
        dec.map((post) => (
          <li>
            <a href={post.url}>
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString("en-us", {
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
<style>
  /* section {
        @apply flex flex-wrap gap-4 
      } */
  ul {
    @apply bg-slate-100 p-4 my-4 list-none flex flex-wrap rounded shadow-md;
  }
  ul li {
    @apply p-2;
  }
</style>
